<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#" (click)="navigateHome()">Credit Smarter.</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
    aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigateHistory()">History</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#" (click)="navigateSocial()">Insights</a>
      </li>

    </ul>
  </div>

</nav>


<!-- Start of Home Page -->
<div *ngIf="homepage">
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Credit Card Calculator!</h1>
      <p>Need help applying for a new credit card? Tell us your spending habits and we'll give you our recommendation!</p>
      <br />
      <h5> Enter Some Information </h5>
      <div class="form_container">
        <mat-form-field style="padding-right: 1%">
          <input matInput required type="number" placeholder="Total Monthly Spending ($)" [(ngModel)]="monthly_spending"
            (change)="exposed = true; gas = 0; restaurant = 0; grocery = 0">
        </mat-form-field>
        <mat-form-field>
          <mat-select required placeholder="Credit Score" [(value)]="option">
            <mat-option value="0">-- None --</mat-option>
            <mat-option value="0">300-579 (Very Poor)</mat-option>
            <mat-option value="1">580-669 (Fair)</mat-option>
            <mat-option value="1">670-739 (Good)</mat-option>
            <mat-option value="2">740-799 (Very Good)</mat-option>
            <mat-option value="2">800-850 (Excellent)</mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="form_container">
        <div class="inner_flex_container">
          Restaurant Spending: ${{restaurant}}
          <mat-slider thumbLabel [disabled]="monthly_spending == null" [max]="monthly_spending - grocery - gas"
            [displayWith]="formatLabel" [min]="0" [(ngModel)]="restaurant" [step]="step">
          </mat-slider>
          Grocery Spending: ${{grocery}}
          <mat-slider thumbLabel [disabled]="monthly_spending == null" [max]="monthly_spending - gas - restaurant"
            [min]="0" [(ngModel)]="grocery" [step]="step" [displayWith]="formatLabel">
          </mat-slider>
          Gas/Travel Spending: ${{gas}}
          <mat-slider thumbLabel [disabled]="monthly_spending == null" [max]="monthly_spending - restaurant - grocery"
            [min]="0" [(ngModel)]="gas" [step]="step" [displayWith]="formatLabel">
          </mat-slider>
        </div>
        <div class="inner_flex_container">
          &nbsp;&nbsp;Percent Paid off Per Month: {{percentPaidOff}} %
          <mat-slider thumbLabel [max]="100" [min]="0" [(ngModel)]="percentPaidOff" [step]="step" [displayWith]="formatLabel">
          </mat-slider>
        </div>
        <img src="../assets/pictures/credit_cards.png" style="position: absolute; left: 50%">

      </div>


      <p>
        <a class="btn btn-primary btn-lg" href="#" role="button" (click)="sortCostArray()">Calculate &raquo;</a>
      </p>
    </div>
  </div>





  <mat-toolbar color="primary" style="padding-left: 5%;"> Choose from Selection of Credit Cards</mat-toolbar>

  <div class="form_container" style="padding-left: 5%;  padding-top: 3%">
    <h5> Sort By: </h5>
    <mat-checkbox [(ngModel)]="checked3" (change)="sortAPRArray()" style="padding-left: 3%">Variable APR</mat-checkbox>
    <mat-checkbox [(ngModel)]="checked2" (change)="sortAnnualArray()" style="padding-left: 3%">Annual Fee</mat-checkbox>
    <mat-checkbox [(ngModel)]="checked1" (change)="sortSatArray()" style="padding-left: 3%">Customer Satisfaction</mat-checkbox>
    <mat-checkbox [(ngModel)]="checked4" (change)="sortByCredit()" style="padding-left: 3%">Credit Score</mat-checkbox>
  </div>



  <div class="flex_container credit-card" *ngFor="let card of credit_card">
    <img src={{card.src}} style="max-height: 155px">
    <div class="inner_flex_container" style="padding-left: 3%; max-width: 600px">
      <h2 style="font-size: 1.7em"> At a Glance - {{card.name}}</h2>
      <h6> Approx. APR: {{card.APR}}%</h6>
      <h6> Annual Fee: ${{card.annualFee}}</h6>
      <h6> Restaurant Cashback {{card.cashbackRestaurant}}%</h6>
      <h6> Grocery Cashback {{card.cashbackGrocery}}%</h6>
      <h6> Gas Cashback {{card.cashbackGas}}%</h6>
      <p> {{card.info}}</p>
    </div>
    <div class="inner_flex_container" style="padding-left: 5; padding-right: 3%">
      <p>
        <a class="btn btn-primary btn-lg" (click)="onNavigate()" role="button" style="background-color: orange; border-color: orange">Apply
          Now &raquo;</a>
      </p>
      <p>
        <a class="btn btn-primary btn-lg" (click)="onNavigate()" role="button" style="background-color: green; border-color: green">More
          Details &raquo;</a>
      </p>
      <div>
        Customer Rating: {{card.customerSat}}
      </div>
      <div>
        Credit Score: {{card.score == 2 ? 'Excellent' : card.score == 1 ? 'Average' : 'Rebuilding'}}
      </div>
    </div>
  </div>
  <br />
</div>
<!-- End of Home Page -->


<!-- Start of History Page -->
<div *ngIf="historypage">
  <br />
  <br />
  <br />
  <iframe src='https://cdn.knightlab.com/libs/timeline3/latest/embed/index.html?source=15V5yzPnU39CTFASTGHLj4P3KGtJgvgtb84iI75CAtqo&font=Default&lang=en&initial_zoom=2&height=650'
    width='100%' height='650' webkitallowfullscreen mozallowfullscreen allowfullscreen frameborder='0'></iframe>
</div>
<!-- End of History Page -->

<!-- Start of Social Impact Page-->
<div *ngIf="socialpage">
  <br />
  <br />
  <br />
  <div class="blog-header">
    <div class="container">
      <h1 class="blog-title" style="text-align: center">Insights on Credit Card Usage</h1>
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-sm-8 blog-main">
        <div class="blog-post">
          <p> All data according to 2015 Diary of Consumer Payment Choice </p>
          <iframe width="150%" height="1000" src="//jsfiddle.net/e8n4xd4z/20774/embedded/result/" allowfullscreen="allowfullscreen"
            allowpaymentrequest frameborder="0"></iframe>
          <iframe width="150%" height="1000" src="//jsfiddle.net/e8n4xd4z/20775/embedded/result/" allowfullscreen="allowfullscreen"
            allowpaymentrequest frameborder="0"></iframe>
          <iframe width="150%" height="900" src="//jsfiddle.net/e8n4xd4z/20777/embedded/result/" allowfullscreen="allowfullscreen"
            allowpaymentrequest frameborder="0"></iframe>

        </div><!-- /.blog-main -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div>
  </div>

  <!-- End of Social Page -->

  <!-- Start of Risk Page-->
  <div *ngIf="securitypage">
    <br />
    <br />
    <br />
    <div class="blog-header">
      <div class="container">
        <h1 class="blog-title" style="text-align: center">Security Risks of Credit Cards</h1>
        <p class="lead blog-description" style="text-align: center">A brief introduction to the history of Credit Cards</p>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-sm-8 blog-main">
          <div class="blog-post">
            <img src='../assets/pictures/SS-credit-card-bear-trap.jpg'>
            <h1 class="blog-post-title">Financial Risks</h1>
            <h3>Overspending</h3>
            <img src='../assets/pictures/overspending.jpg'>
            <br />
            <p class="big_text">The easy availability of credit can often be dangerous to those who have a habit of
              impulsive purchasing items they cannot afford.
            </p>


            <ul class="big_text">
              <li><b>Credit score can be lowered </b> when the cardholder spending reaches too close to their spending
                limit.
              </li>
              <li> <b>Accumulation of debt </b> by not paying off monthly statement in full or at all. High APR can
                possibly leave the cardholder in debt FOREVER. Not even joking. The average APR for people with GOOD
                credit is almost 20% annually.
              </li>
            </ul>
          </div><!-- /.blog-post -->
          <div class="blog-post">
            <h3>Social Risks</h3>
            <img src='../assets/pictures/fraud.jpg'>
            <br />
            <p class="big_text">The possibility of someone stealing credit card information
              is growing in today’s society. Estimates 9 million Americans a year suffer from Credit card Fraud
            </p>
            <ul class="big_text">
              <li><b>Credit Skimmers </b> or hidden devices placed over point of sale terminals, are
                becoming a growing problem in society.
                <ul>
                  <li>
                    The <b>Secret Service</b> has recently cracked down upon credit card skimmer at gas pumps
                    nationwide in response to the growing demand of fuel during the holiday season.
                  </li>
                </ul>
              </li>
            </ul>
          </div><!-- /.blog-post -->
        </div><!-- /.blog-main -->
      </div><!-- /.row -->
    </div><!-- /.container -->
</div>

<!-- End of Social Page -->

<!-- <footer class="mastfoot mt-auto" style="padding-left: 5%">
  <div class="inner">
    <p> Hack NC Project by
      <b>Kimlynn Ngo</b> and
      <b>Daniel Su.</b>
    </p>
  </div> -->